{% extends "shopapp/base.html" %}

{% load i18n %}

{% block title %}
    {% translate "Product" %}#{{ product.pk }}
{% endblock %}

{% block body %}
  <h1>{% translate "Product" %} <strong>{{ product.name }}</strong></h1>
    <div>
        <div>{% translate "Description" %}:<em>{{ product.description }}</em></div>
        <div>{% translate "Price" %}: {{ product.price }} </div>
        <div>{% translate "Discount" %}: {{ product.discount }}</div>
        <div>{% translate "Archived" %}: {{ product.archived }}</div>
        {% if product.preview %}
            <img src="{{ product.preview.url }}" width="400" height="300" alt="{{ product.preview.name }}">
        {% endif %}
        <h3>{% translate "Images" %}:</h3>
        {#<div>#}
            {#There is {{ product.images.count }} picture{{ product.images.count|pluralize }} in the product#}
        {#</div>#}
        <div>
            {% blocktranslate count image_product=product.images.count %}
            There is {{ image_product }} picture in the product
            {% plural %}
            There is {{ image_product }} pictures in the product
            {% endblocktranslate %}
        </div>
        <div>
            {% for img in product.images.all %}
                <div>
                    <img src="{{ img.image.url }}" alt="{{ img.image.name }}">
                    <div>{{ img.description }}</div>
                </div>
            {% empty %}
                {% url 'shopapp:product_update' pk=product.pk as images_update %}
                {% blocktranslate %}
                <div>
                    No images uploaded yet
                    <a href="{{ images_update }}">Add a image</a>
                </div>
                {% endblocktranslate %}
            {% endfor %}
        </div>
    </div>

    <div>
        <a href="{% url 'shopapp:product_update' pk=product.pk %}">{% translate "Update product" %}</a>
    </div>
    <div>
        <a href="{% url 'shopapp:product_delete' pk=product.pk %}">{% translate "Archived product" %}</a>
    </div>
    <div>
        <a href="{% url 'shopapp:products_list' %}"
        >{% translate "Back to products list" %}</a>
    </div>
{% endblock %}